.footer_top {
    padding: 62px 150px;
    display: flex;
    gap: 130px;

    .f1 {
        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
            width: 69px;
        }

        p {
            color: #000;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            opacity: 0.7;
        }
    }

    .f2 {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h6 {
            color: #000;
            font-family: Roboto;
            font-size: 25px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
        }

        p {
            color: #000;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            opacity: 0.7;
        }
    }
}

.footer_bottom {
    padding: 45px 100px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, #058AFF 0%, rgba(57, 55, 206, 0.87) 97.91%);
    align-items: center;

    p {
        color: #FFF;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

    .fb_right {
        display: flex;
        gap: 20px;

        button {
            padding: 15px 30px;
            color: #3C61E1;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border: none;
            border-radius: 10px;
        }
    }
}